# Squad Payment Gateway Configuration (Live Mode)
SQUAD_PUBLIC_KEY=
SQUAD_SECRET_KEY=
SQUAD_WEBHOOK_SECRET=
SQUAD_BASE_URL="https://api-d.squadco.com"

# Firebase Admin & Project Credentials
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Application URL
APP_URL="https://acadetcbt.website"

# GEMINI_API_KEY: Required for Gemini AI API calls
GEMINI_API_KEY=

# Predefined Administrator Credentials for secure backend verification
ADMIN_USERNAME="Menmex"
ADMIN_PASSWORD="joyce@menmex"


